a {
    color:green;
    font-weight: bold
}

#header {
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#header-user {
    float: right;
}
#header-title, #header-title a {
    color: gold;
    font-weight: bold;
    text-decoration: none;
}
