a {
    color:green;
    font-weight: bold
}

#header {
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#header-user {
    float: right;
}
#header-title, #header-title a {
    color: gold;
    font-weight: bold;
    text-decoration: none;
}

img {
    max-width: 10%;
    float: right;
    border-radius: 65%;
}

#paragraph {
    color: rgb(122, 111, 47)
}

/* Forum */
.reply {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}

.post-content {
    white-space: pre-wrap;
}
.post-author {
    font-weight: bolder;
}

.post-info {
    font-style: italic;
    margin-top: 10px;
}