a {
    color:green;
    font-weight: bold
}

#header {
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
#header-user {
    float: right;
}
#header-title, #header-title a {
    color: gold;
    font-weight: bold;
    text-decoration: none;
}

#wizard1 {
    max-width: 10%;
    float: right;
    border-radius: 65%;
}

#paragraph {
    color: rgb(122, 111, 47)
}

/* Forum */
.reply {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}

.post-content {
    white-space: pre-wrap;
}
.post-author {
    font-weight: bolder;
}

.post-info {
    font-style: italic;
    margin-top: 10px;
}

#concentrate-container {
    text-align: center;
    background-color: black;
    color: aqua;
}

.thread-listing {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: goldenrod;
}

#thread-list-pageTitle {
    color: goldenrod;
}

#login-img {
    width: 200px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

#username {
    width: 25%;
    border-left: 2px solid red;
    border-radius: 4px;
    background-color: antiquewhite;
}

#password {
    width: 25%;
    border-left: 2px solid red;
    border-radius: 4px;
    background-color: antiquewhite;
}

#wizard-chad-intro {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: purple;
}

.wizard-chads-speaking {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: aquamarine;
}

