<div id="concentrate-container">
    <p>Times meditated: <%= count %></p>
    
    <form action="" method="POST">
        <input type="submit" value="Meditate" />
    </form>

    <img src="../static/ImagesNonUser/the_pondering.png"
</div>

