<div id="concentrate-container">
    <p>Times meditated: <span id="count"><%= count %></span></p>
    <p>Community goal for a reward: 10,000!</p>
    <% if (count > 10_000) { %>
        <p>REWARD UNLOCKED: RPG WIZARD GAME SOON</p>
    <% } %>
    
    <button type="button" id="meditate">Concentrate</button>

    <dialog id="haveConcentrated" >
        <form method="dialog">
            <p>You have meditated and rested come back whenever you need</p>

            <button>close</button>
        </form>
    </dialog>

    <!-- <img src="../static/ImagesNonUser/the_pondering.png">
    <img src="../static/ImagesNonUser/searchingWizard.jpg"> -->
</div>

<script src="/static/js/concentrate.js"></script>

