<% if (errorMessage !== null) { %>
    <p><%= errorMessage %></p>
<% } %>
<form action="" method="POST">
    <label for="title">Thread title: </label>
    <input maxlength="50" id="title" name="title" type="text" value="<%= currentTitle %>" />

    <br><br>

    <label for="Make-Thread">Thread content: </label>
    <textarea maxlength="2000" id="content" name="content" rows="5" cols="33"><%= currentContent %></textarea>

    <input type="submit" value="Create Post" />
    <br><br>
</form>

<br><br>

<form method="post" enctype="multipart/form-data">
    <label for="Image-File">Upload a img for your post!</label>
    <input id="file" type="file" />
    <button>Upload</button>
  </form>
