<h1>Welcome <%= user.username %> to the hub of wizards; Wizard chad will be your guide press on him to here what he has to say</h1>

<br><br>

<a href="/wizardChad"><img src="../static/ImagesNonUser/Wizard_Chad.png" alt="Wizard_Chad"></a>
    
    <br><br>
    <h5 id="paragraph">Welcome to wizard communion the #1 place for wizards to connect, people assume this is satire but it is not; we are real wizards finding our places in the world. </h5>
    <br><br><br>

<h2>Tribute to the creator:</h2>
<br>

<p>This is our glorious leader who has been fighting for wizard rights since 1704</p>
    <img src="../static/ImagesNonUser/wizard_swag.png" alt="creator">

<br><br>
<p>Need to get away from the noise? Click here to go to the <a href="/concentrate">concentrate</a></p>
