<h1>Welcome <%= user.username %></h1>
<h2> Edit your profile <a id="EditProfileHref" href="/profileEditor"> here</a></h2> 
<h2> Check or make posts, commune with fellow wizards <a id="PostHref" href="/Posts"> here</a></h3>
