<h1>Welcome <%= user.username %></h1>
<h2> Edit your profile <a id="EditProfileHref" href="/profileEditor"> here</a></h2> 
<h2> Check or make posts, commune with fellow wizards <a id="PostHref" href="/Posts"> here</a></h2>
    <img src="../static/Images/fantasy-wizard.jpg" alt="studious"></h2>
    
    <br><br>
    <h5 id="paragraph">Welcome to wizard communion the #1 place for wizards to connect, people assume this is satire but it is not; we are real wizards finding our places in the world. </h5>
