<% if (errorMessage !== null) { %>
    <p><%= errorMessage %></p>
<% } %>
<div id="login-page">
<form action="" method="POST" id="">
    <label for="username">Username: </label>
    <input id="username" name="username" type="text" />

    <br><br>

    <label for="password">Password: </label>
    <input id="password" name="password" type="password" />

    <br><br>

    <input type="submit" value="Log In" />
</form>

<img src="../static/ImagesNonUser/a_wizard_man.png" id="login-img">
</div>