<% if (errorMessage !== null) { %>
    <p><%= errorMessage %></p>
<% } %>

<h1>Back to home? -></h1>
<form action="" method="POST">
    <label for="about-me">About Me: </label>
    <textarea id="about-me" name="about-me" rows="5" cols="33"><%= user.aboutMe %></textarea>

    <br><br>

    <label for="wizard-skillset">Wizard skillset: </label>
    <input id="wizard-skillset" name="wizard-skillset" type="text" value="<%= user.skillset %>" />

    <br><br>

    <label for="display-name">Display name: </label>
    <input id="display-name" name="display-name" type="text" value="<%= user.displayName %>" />

    <br><br>
    
    <input type="submit" value="Save changes" />
</form>