<img src="../static/ImagesNonUser/Wizard_Chad.png" alt="Wizard_Chad">

<h1 id="wizardChad-intro">Hello wizard, I am wizard chad and I will guide you below are links.</h1>

<br><br>

<h2> Edit your profile <a id="EditProfileHref" href="/profileEditor"> here</a></h2> 

<br><br>

<h2>View threads from fellow wizards <a id=""href="/threads"> here</a></h2>

<br><br>

<h2>Create a thread <a href="/createthread"> here</a></h2>