<form action="" method="POST">
    
    <label for="New-Post">New-Post: </label>
    <input id="New-Post" name="New-Post" type="New-Post" />

    <br><br>

    <input type="submit" value="NewPost" />
</form>