<h1>Back to home? -></h1>
<form action="" method="POST">
    <label for="About Me">About Me: </label>
    <input id="aboutMe" name="aboutMe" type="text" />

    <br><br>

    <label for="affiliation">Affiliation: </label>
    <input id="affiliation" name="affiliation" type="text" />

    <br><br>

    <label for="name">Name: </label>
    <input id="name" name="name" type="text" />

    <input type="submit" value="Save changes" />
</form>